<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"><?define WpfApp_TargetDir=$(var.WpfApp.TargetDir)?>
	<Product Id="fe00a668-39ec-4fae-ae37-6c174a2f6e1a" Name="Setup" Language="1033" Version="1.0" Manufacturer="UVJ Technologies" UpgradeCode="b6823b49-d8b2-45f8-88fd-c99ce75f30a1">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

   <!-- <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED" />
    <Condition Message="This application requires .NET Framework 4.6.2. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_462>="#394806"]]>
    </Condition> -->


    <!--To add Icon to your program-->
    <Icon Id="setup.ico" SourceFile="$(var.ProjectDir)setup.ico"/>
    <Property Id="ARPPRODUCTICON" Value="setup.ico"/>

    <!--To add license file-->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\license.rtf"/>

    <!--To create dialoge boxes (WixUI_Minimal) or to set destination directory -->

    <UI>
    <Property Id="WIXUI_INSTALLDIR" Value="TESTFILEPRODUCTDIR"/>

    <UIRef Id="WixUI_InstallDir"/>
      
      <!-- To launch an exe file/ custom action-->

    <Publish  Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and Not Installed</Publish>
    </UI>

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Exe File"></Property>

    <!--Include custom action-->

    <Property Id="WixShellExecTarget" Value="[#WpfApp.exe]"></Property>
    <CustomAction Id="LaunchApplication"  BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes"></CustomAction>
  

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] i s already installed." />


    <!-- To avoid cab file from output folder-->
    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="ProductFeature" Title="Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" /> 

      <!--Tell wix to install the shortcut-->
      <ComponentRef Id="ApplicationShortcut"/>
      <ComponentRef Id="ApplicationShortcutDesktop"/>

    </Feature>
    
    
	</Product>

	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">

        <Directory Id="TESTFILEPRODUCTDIR" Name="Test File">
        <Directory Id="INSTALLFOLDER" Name="Setup" />
        </Directory>
      </Directory>

      <!--Define shortcut directory-->
      <Directory Id="ProgramsMenuFolder" >
        <Directory Id="ApplicationProgramsFolder" Name="Hello_shortcut"/>
        <Directory Id="DesktopFolder" Name="Desktop"></Directory>

      </Directory>
    </Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="WpfApp.exe" Guid="c1f75e9a-be80-4838-856b-efe893248ac1">
			  <File Id="WpfApp.exe" Name="WpfApp.exe" Source="$(var.WpfApp_TargetDir)WpfApp.exe" />
			</Component>
			<Component Id="WpfApp.exe.config" Guid="86ec176e-89d5-461d-aafe-dbfe755cabb5">
			  <File Id="WpfApp.exe.config" Name="WpfApp.exe.config" Source="$(var.WpfApp_TargetDir)WpfApp.exe.config" />
			</Component>
		</ComponentGroup>
	</Fragment>


  <!-- Add shortcut -->
  <Fragment>
  <DirectoryRef Id="INSTALLFOLDER">
    <Component Id="ApplicationShortcut" Guid="1e1ad27b-4f03-44d3-885a-643730675866">
      <Shortcut Id="ApplicationStartMenuShortcut" Name="Hello_shortcut" Target="[#WpfApp.exe]" WorkingDirectory="INSTALLFOLDER"></Shortcut>
      <RegistryValue Root="HKCU" Key="Software\MyCompany\Hello_setup" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>
  </DirectoryRef>

  <DirectoryRef Id="DesktopFolder">
    <Component Id="ApplicationShortcutDesktop" Guid="0c1766f8-4981-4c53-a222-2925dd354f59">
      <Shortcut Id="ApplicationDesktopShortcut" Name="Hello_shortcut" Target="[#WpfApp.exe]" WorkingDirectory="INSTALLFOLDER"></Shortcut>
      <RegistryValue Root="HKCU" Key="Software\MyCompany\Hello_setup" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>
  </DirectoryRef>
  </Fragment>



</Wix>
